@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(../fonts/zhcz-_wihjsqc0ohj9tcyc3usbnsvpkopqaur-2r7iu_6.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat Bold'), local('Montserrat-Bold'), url(../fonts/iqhow_feyldc4gzy_m8fcver6hm6rms0v1dtxsgir4g_6.ttf) format('truetype');
}
